.car-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.car-heading {
  color: grey;
  margin-right: 20px;
}

.location-marker {
  display: inline;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
}
