.savedcar-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(30 41 59);
  padding: 10px;
  color: antiquewhite;
  width: 586px;
  border-radius: 10px;
  height: 293px;
  margin: 8px;
}
.images {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.image-container {
  max-width: 30%;
  height: auto;
  padding: 10px;
}
.qr-container {
  height: auto;
  width: 64px;
}
.carlisting-text {
  padding: 1rem;
  color: #ffffff;
}

.car-image {
  border-radius: 0.75rem;
  max-width: 8rem;
  height: auto;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.car-text {
  color: antiquewhite;
  padding: 10px;
}

.car-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.car-price {
  padding-top: 20px;
  font-size: 30px;
}
